src/main/mule/acb-basic-munits.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
	http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
  <http:listener-config name="HTTP_Listener_config">
    <http:listener-connection host="0.0.0.0" port="8081" />
  </http:listener-config>
  <flow name="name1">
    <http:listener path="test" config-ref="HTTP_Listener_config" doc:name="Listener" doc:id="znkpds" />
    <logger doc:name="Logger" doc:id="ovmomj" message="#[payload]" />
    <choice doc:name="Choice" doc:id="trqnru">
      <when doc:name="payload is true" expression="#[payload ~= true]">
        <set-payload value="the expression is true" doc:name="Set payload" doc:id="ngigoh" />
      </when>
      <otherwise doc:name="payload is false">
        <set-payload value="the expression is false" doc:name="Set payload" doc:id="ecjxdg" />
      </otherwise>
    </choice>
    <logger doc:name="Logger" doc:id="uneszs" message="#[payload]" />
  </flow>
</mule>